@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Utility Styles */
.nowrap {
  white-space: nowrap;
}

/* General Styles */
body {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 211, 0);
}

.card {
  margin: 1.25rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px #000;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min(100%, 327px);
}

/* .hero {
  width: 100%;
  height: 200px;
  display: block;
} */

.hero img {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  width: 73px;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(248, 211, 0);
  font-weight: 900;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .date {
  font-size: 12px;
  color: #333;
}

section h2 {
  font-size: 20px;
  font-weight: 900;
}

section .details {
  font-size: 14px;
  color: #333;
  line-height: 1.2rem;
}

.author {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.author figcaption {
  font-size: 14px;
  font-weight: 900;
}

@media screen and (max-width: 1440px) {
  body {
    width: min(100%, 384px);
  }
}
